:root {
  --color-dark: #282c34;
  --color-light: white;
  --color-blue: #61dafb;
}

/* .form {
  padding: 1rem;
  margin: .5rem 1rem;
  border: 2.5px solid var(--color-blue);
  border-radius: 5px;
} */

.form__label {
  display: block;
  color: var(--color-dark);
}

.form__text {
  margin-left: .5rem;
}

.form__check {
  transform: translateY(.15rem);
}

.form__submit {
  background-color: var(--color-blue);
  color: var(--color-dark);
  border: none;
  border-radius: 5px;
  padding: .25rem .5rem;
  margin-top: .5rem;
}