:root {
  --color-light: white;
  --color-dark: #282c34;
  --color-blue: #61dafb;
}

.app {
  text-align: center;
}

.app__header {
  background-color: var(--color-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-light);
}

.app__logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app__logo {
    animation: app__logo--spin infinite 20s linear;
  }
}

@keyframes app__logo--spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app-link {
  color: var(--color-blue);
}