:root {
  --color-dark: #282c34;
  --color-light: white;
  --color-blue: #61dafb;
}

button {
  background-color: var(--color-blue);
  color: var(--color-dark);
  border: none;
  border-radius: 5px;
  padding: .25rem .5rem;
}

p {
  color: var(--color-dark);
}

.header {
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  color: var(--color-light);
  padding: 0 1rem;
}

.header__title {
  margin: 0;
}

.header__button {
  margin-left: auto;
}

.section__not-login {
  text-align: center;
}

.section__logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes section__logo--spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .section__logo {
    animation: section__logo--spin infinite 20s linear;
  }
}

.form {
  padding: 1rem;
  margin: .5rem 1rem;
  border: 2.5px solid var(--color-blue);
  border-radius: 5px;
}

.list__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 1rem auto;
  padding-left: 1rem;
}

.list {
  list-style: none;
  width: 30rem;
  margin: 1rem 0 .5rem;
}

.list__flex {
  display: flex;
  margin-right: 1rem;
}

.list__check {
  margin-bottom: auto;
  transform: translateY(.25rem);
}

.list__activity {
  margin: 0;
}

.list__button {
  margin-top: auto;
  margin-left: auto;
}